/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Encabezado principal */
h1 {
    font-size: 28px;
    font-weight: bold;
    color: #085FBB;
    text-align: center; /* Centrar el texto horizontalmente */
    background-color: #ABC5E1; /* Color de fondo del título */
    padding: 10px; /* Espacio dentro del título */
}

/* Contenedor del número de brochado */
#numero {
    margin-left: 10px; /* Espacio en el margen izquierdo */
}

/* Título "Broaching stroke" */
h2 {
    font-size: 22px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    margin: 8px 0; /* Espacio en los márgenes superior e inferior */
    margin-left: 13px
}

.table-container {
    display: flex; /* Muestra las tablas en línea */
    justify-content: space-between; /* Alinea las tablas al principio y al final del contenedor */
    align-items: center; /* Alinea verticalmente las tablas */
    margin-bottom: 10px; /* Espacio entre las tablas */
}



/* Estilos para la tabla minimalistBlack */
table.minimalistBlack {
    border: 1px solid #03122A;
    width: 30%; /* Cambia el ancho al 50% para que ocupen el 50% del contenedor */
    text-align: center;
    border-collapse: collapse;
    margin-left: 135px
}

table.minimalistBlack td,
table.minimalistBlack th {
    border: 1px solid #03122A;
    padding: 5px 4px;
    width: 50%;
}

table.minimalistBlack tbody td {
    font-size: 17px;
    color: #000000;
}

/* Establece el color de fondo para todas las filas pares en el cuerpo de la tabla (azul) */
table.minimalistBlack tbody tr:nth-child(even) {
    background-color: #BBF1E1; /* Cambia el color de fondo a azul claro */
}

/* Establece el color de fondo para todas las filas impares en el cuerpo de la tabla (blanco) */
table.minimalistBlack tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

/* Establece el color de fondo del encabezado (azul oscuro) */
table.minimalistBlack thead {
    background: #5AA7A7; /* Cambia el color de fondo a azul oscuro */
}

table.minimalistBlack thead th {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

/* Estilos para la tabla minimalistGreen */
table.minimalistGreen {
    border: 1px solid #003300; /* Cambia el color del borde a verde */
    width: 30%; /* Cambia el ancho al 50% para que ocupen el 50% del contenedor */
    text-align: center;
    border-collapse: collapse;
    margin-right: 135px
}

table.minimalistGreen td,
table.minimalistGreen th {
    border: 1px solid #003300; /* Cambia el color del borde a verde */
    padding: 5px 4px;
    width: 50%;
}

table.minimalistGreen tbody td {
    font-size: 17px;
    color: #000000;
}

/* Establece el color de fondo para todas las filas pares en el cuerpo de la tabla (verde claro) */
table.minimalistGreen tbody tr:nth-child(even) {
    background-color: #BBFFBB; /* Cambia el color de fondo a verde claro */
}

/* Establece el color de fondo para todas las filas impares en el cuerpo de la tabla (blanco) */
table.minimalistGreen tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

/* Establece el color de fondo del encabezado (verde oscuro) */
table.minimalistGreen thead {
    background: #003300; /* Cambia el color de fondo a verde oscuro */
}

table.minimalistGreen thead th {
    font-size: 17px;
    font-weight: bold;
    color: #00CC00; /* Cambia el color del texto a verde claro */
}

/* Estilos para el contenedor de apilamiento de tablas
.table-stack-container {
    margin-bottom: 10px;
}
 */


.spacer {
    height: 15px;
}

.image-container {
    display: flex; /* Muestra las imágenes en línea */
    justify-content: space-between; /* Alinea las imágenes en el centro horizontalmente */
    align-items: center; /* Alinea verticalmente las imágenes */
    margin-bottom: 10px; /* Espacio entre las imágenes */
}

/* Ajusta el tamaño máximo de las imágenes */
.image img {
    max-width: 95%;
    border: 1px solid #000; /* Añade un borde negro de 2 píxeles de ancho */

}


/* Estilos para la sección de parámetros */
.section-title {
    color: #5AA7A7;
    font-size: 24px;
    margin-top: 20px;
}


label {
    font-weight: bold;
    margin-right: 10px;
}

* {
    margin-left: 10px;
    margin-right: 10px;
}